{% extends "layout.html" %}

{% block content %}


{% if current_user.is_authenticated %}

<h1 class="mb-3 user-posts-heading"> Tests </h1>
  {% for test in tests %}

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{{ url_for('all_tests') }}"> 
            {{ test.test_name}}
          </a>
          <small class="text-muted">
            {{ test.date_posted.strftime('%Y-%m-%d') }}
          </small>
        </div>
        <h2> <a class="article-title" href="{{ url_for('tests', test_id=test.id) }}">
            Category : {{ test.category }}
           </a>
        </h2>
        <p class="article-content">
         No:of Questions : {{ test.no_of_questions }}
        </p>
        <p class="article-content">
          Total Marks : {{ test.total_marks }}
        </p>
        <p class="article-content">
          Time in minutes : {{ test.time_in_mins }}
        </p>
       
      </div>

    </article>

  {% endfor %}

{% else %}

      <div class="media-body">
        <div class="article-metadata">
        <h2> Please Login ! </h2>
        </div>
      </div>


{% endif  %}


{% endblock content %}
