{% extends "layout.html" %}




{% block content %}


<div class="content-section">
		<form method="POST" action="" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4"> {{ legend }} </legend>
				
				<div class="form-group">
					{{ form.test_id.label(class="form-control-label") }}
					{% if form.test_id.errors %}
						{{ form.test_id(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for errors in form.test_id.errors %}
								<span>{{ error }}</span>
							{%  endfor %}
						</div>

					{% else %}
							{{ form.test_id(class="form-control form-control-lg") }}
				
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.question.label(class="form-control-label") }}
					{% if form.question.errors %}
						{{ form.question(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for errors in form.question.errors%}
								<span>{{ error }}</span>
							{%  endfor %}
						</div>

					{% else %}
							{{ form.question(class="form-control form-control-lg") }}
				
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.a.label(class="form-control-label") }}
					{% if form.a.errors %}
						{{ form.a(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for errors in form.a.errors %}
								<span>{{ error }}</span>
							{%  endfor %}
						</div>

					{% else %}
							{{ form.a(class="form-control form-control-lg") }}
				
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.b.label(class="form-control-label") }}
					{% if form.b.errors %}
						{{ form.b(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for errors in form.b.errors %}
								<span>{{ error }}</span>
							{%  endfor %}
						</div>

					{% else %}
							{{ form.b(class="form-control form-control-lg") }}
				
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.c.label(class="form-control-label") }}
					{% if form.c.errors %}
						{{ form.c(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for errors in form.c.errors %}
								<span>{{ error }}</span>
							{%  endfor %}
						</div>

					{% else %}
							{{ form.c(class="form-control form-control-lg") }}
				
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.d.label(class="form-control-label") }}
					{% if form.d.errors %}
						{{ form.d(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for errors in form.d.errors %}
								<span>{{ error }}</span>
							{%  endfor %}
						</div>

					{% else %}
							{{ form.d(class="form-control form-control-lg") }}
				
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.ans.label(class="form-control-label") }}
					{% if form.ans.errors %}
						{{ form.ans(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for errors in form.ans.errors %}
								<span>{{ error }}</span>
							{%  endfor %}
						</div>

					{% else %}
							{{ form.ans(class="form-control form-control-lg") }}
				
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.positive_marks.label(class="form-control-label") }}
					{% if form.positive_marks.errors %}
						{{ form.positive_marks(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for errors in form.positive_marks.errors %}
								<span>{{ error }}</span>
							{%  endfor %}
						</div>

					{% else %}
							{{ form.positive_marks(class="form-control form-control-lg") }}
				
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.negative_marks.label(class="form-control-label") }}
					{% if form.negative_marks.errors %}
						{{ form.negative_marks(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for errors in form.negative_marks.errors %}
								<span>{{ error }}</span>
							{%  endfor %}
						</div>

					{% else %}
							{{ form.negative_marks(class="form-control form-control-lg") }}
				
					{% endif %}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>

		</form>
	</div>


{% endblock content %}
