
{% extends "layout.html" %}


{% block content %}
<h1></h1>
	<head>
		<title>Dynamic Quiz Project</title>
		<link rel="text/css" type="text/css" href=" {{ url_for('static', filename='stylesheet.css')}} " >
	</head>
   	 <div id='container' class='container'>
			<div id='title'>
				<h1>{{ test_name }}</h1>
			</div>
        			<span id="timerCount" class="timerCount"></span>
   			<br/>

        <div id='total_marks_div'> {{ total_marks }} </div>
        

        <div id='test_id_div'> {{ test_id }} </div>
        <div id='time_in_mins_div'> {{ time_in_mins }} </div>


        <div id='end_of_test_div' class='end_of_test_div' >Reached End of Test.
          </div>
  			<div id='quiz' > </div>
  			<div class='button' id='prev'><a href='#'>Prev</a></div>
  			<div class='button' id='startQuiz'><a href='#'>Start Test</a></div>
    		<div class='button' id='next'><a href='#'>Next</a></div>
    		<div class='submitQuiz' id='submitQuiz'><a href='#'>Submit</a></div>

    		<!-- <button class='' id='next'>Next</a></button>
    		<button class='' id='prev'>Prev</a></button>
    		<button class='' id='start'> Start Over</a></button> -->
    	</div>

		<script type='text/javascript' src='{{ url_for('static', filename='js/jsquiz.js')}}'></script>
		<script type='text/javascript' src='{{ url_for('static', filename='js/popper.min.js')}}'></script>



{% endblock content %}
