{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('user_posts', username=test.author.username) }}">{{ test.author.username }}</a>
        <small class="text-muted">{{ test.date_posted.strftime('%Y-%m-%d') }}</small>

     
      </div>
     
        <h2 class="article-title"> Test Name : {{ test.test_name }}</h2>
        <a class="btn btn-sm mt-1 mb-1 floatRight btn-primary" href="{{ url_for('take_test', test_id=test.id) }}">Take Test</a>
       
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('show_questions', test_id=test.id) }}">Add Questions</a>
      
      <p class="article-content"> Category : {{ test.category }}</p>
      <p class="article-content"> No:of Questions : {{ test.no_of_questions }}</p>
      <p class="article-content"> Total Marks : {{ test.total_marks }}</p>
      <p class="article-content"> Time : {{ (test.time_in_mins / 60)  | round(1, 'floor') }} hours </p>
      <p class="article-content"> Test Prepared on : {{ test.date_posted }}</p>
      <p class="article-content"> Test created by : {{ test.author.username }}</p>
    
    </div>
  </article>
{% endblock content %}